
   .runningBatchTable {
    width: 95%; 
  border-collapse: collapse;
  background-color: #15172b;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 18px;
  margin-bottom: 18px;
  }
  
  th, td {
    text-align: center;
  padding: 12px; 
  width: auto; 
  }
  
  th {
    background-color: #08d;
    color: #eee;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
  }
  
  td {
    background-color: #303245;
    color: #eee;
    padding: 10px;
    font-size: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #252a3d;
  }
  
  tr:hover {
    background-color: #08d;
    color: #fff;
  }
  
  td button {
    display: inline-block;
    background-color: #08d;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Adds space between the buttons */
  }
  
  td button:hover {
    background-color: #06b;
  }
  
  td button:active {
    background-color: #003d80;
  }
  
  .save-button {
    background-color: #28a745;
    color: white;
  }
  
  .cancel-button {
    background-color: #6c757d;
    color: white;
  }
  
  .date {
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Media Queries for smaller screens */
  @media (max-width: 768px) {
    .runningBatchTable {
      width: 100%;
    }
  
    th, td {
      font-size: 14px;
    }
  }
  